section {
    padding: (space(xg) * 1.5) 0;

    h2 {
        @include font(bold);
        color: inherit;

        span {
            border-bottom: 3px solid;
        }
    }

    &#destaque {
        .jumbotron {
            @include responsive(small) {
                background-position: 65% 0;
            }

            @include responsive(small, max) {
                background-position: 70% 0;
                background-size: 330%;

                .h2 {
                    font-size: font-size(large);
                }

                .lead {
                    font-size: font-size(normal);
                } 

                .btn {
                    font-size: font-size(small);
                }
            }

            background-image: url(../images/img-destaque.png);
            background-repeat: no-repeat;
            background-size: cover;
            
            .container {
                > div {
                    min-height: 500px;
                }
            }
        }
    }

    &#sobre {
        position: relative;

        &:before {
            @include responsive(medium, max) {
                @include generated-content(50%, 55%);
            }

            @include responsive(small, max) {
                @include generated-content(50%, 35%);
            }

            @include generated-content(35%, 100%);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            background-color: color(primary);
        }

        .container {
            position: relative;
            z-index: 2;
        }
    }

    &#depoimentos {
        .depoimentos--box {
            li {
                > div {
                    box-shadow: -1px 1px 4px 0 rgba(0,0,0,0.5)
                }
            }
        }
    }

    &#duvidas {
        details {
            display: block; 
            width: auto;
            margin: space(base) 0;

            background-color: color(primary);
            color: color(light);

            p {
                padding: space(base);
            }
        }
          
          summary {
            @include font(bold);

            position: relative;

            display: flex; 
            align-items: center;
            justify-content: flex-start;
            padding: space(m) space(base);
            
            background-color: color(primary);
            color: color(light);
            cursor: pointer;
          }
          
          summary::-webkit-details-marker {
             display: none;
          }
          
          summary:before {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;

            display: flex;
            align-items: center;
            justify-content: center;
            margin: auto space(base) auto auto;
            width: 30px;
            height: 30px;

            background-color: color(secondary);
            font-size: font-size(big);
            color: color(light);
            border-radius: 25px;
            text-indent: 2px;
            
            content: "+";
          }
          
          details[open] summary:before {
            content: "-";
          }
    }

    &#estrutura {
        position: relative;

        &:before {
            @include responsive(medium, max) {
                @include generated-content(50%, 55%);
            }

            @include responsive(small, max) {
                @include generated-content(50%, 35%);
            }

            @include generated-content(35%, 100%);

            position: absolute;
            top: 0;
            right: 0;
            z-index: 1;

            background-color: color(primary);
        }

        .container {
            position: relative;
            z-index: 2;
        }

        .estrutura--slider {
            li {
                padding: space(base);
            }
        }
    }
}