section {
    padding: (space(xg) * 1.5) 0;

    h2 {
        @include font(bold);
        color: inherit;

        span {
            border-bottom: 3px solid;
        }
    }

    &#destaque {
        .jumbotron {
            @include responsive(small) {
                background-position: 65% 0;
            }

            @include responsive(small, max) {
                background-position: 70% 0;
                background-size: 330%;

                .h2 {
                    font-size: font-size(large);
                }

                .lead {
                    font-size: font-size(normal);
                } 

                .btn {
                    font-size: font-size(small);
                }
            }

            background-image: url(../images/img-destaque.png);
            background-repeat: no-repeat;
            background-size: cover;
            
            .container {
                > div {
                    min-height: 500px;
                }
            }
        }
    }

    &#sobre {
        position: relative;

        &:before {
            @include responsive(medium, max) {
                @include generated-content(50%, 55%);
            }

            @include responsive(small, max) {
                @include generated-content(50%, 35%);
            }

            @include generated-content(35%, 100%);

            position: absolute;
            top: 0;
            left: 0;
            z-index: 1;

            background-color: color(primary);
        }

        .container {
            position: relative;
            z-index: 2;
        }
    }

    &#depoimentos {
        .depoimentos--box {
            li {
                > div {
                    box-shadow: -1px 1px 4px 0 rgba(0,0,0,0.5)
                }
            }
        }
    }
}