h1,
.h1 {
    @include font(bold);
    font-size: font-size(xxxbig);
}

h2,
.h2 {
    @include font(bold);
    font-size: font-size(xxbig);
}

h3,
.h3 {
    @include font(bold);
    font-size: font-size(xbig);
}

h4,
.h4 {
    @include font(bold);
    font-size: font-size(big);
}

h5,
.h5 {
    @include font(bold);
    font-size: font-size(large);
}

h6,
.h6 {
    @include font(bold);
    font-size: font-size(medium);
}

p {
    margin-bottom: space(base);

    font-size: font-size(normal);
}

hr {
    border: 3px solid;
}

ul {
    li {}
}

a {
    color: inherit;

    &:hover {
            color: inherit;
            text-decoration: underline;
    }
}

em {
    font-style: italic
}

strong {
    @include font(bold);
}

.bg-color-primary {
    background-color: color(primary);
}

.bg-color-secondary {
    background-color: color(secondary);
}

.bg-color-light {
    background-color: color(light);
}

.bg-color-dark {
    background-color: color(dark);
}

.text-color-primary {
    color: color(primary);
    border-color: color(primary);
}

.text-color-secondary {
    color: color(secondary);
    border-color: color(secondary);
}

.text-color-light {
    color: color(light);
    border-color: color(light);
}

.text-color-dark {
    color: color(dark);
    border-color: color(dark);
}