h1,
.h1 {
    @include font(bold);
    font-size: font-size(xxxbig);
}

h2,
.h2 {
    @include font(bold);
    font-size: font-size(xxbig);
}

h3,
.h3 {
    @include font(bold);
    font-size: font-size(xbig);
}

h4,
.h4 {
    @include font(bold);
    font-size: font-size(big);
}

h5,
.h5 {
    @include font(bold);
    font-size: font-size(large);
}

h6,
.h6 {
    @include font(bold);
    font-size: font-size(medium);
}

p {
}

hr {}

ul {
    li {}
}

a {
    color: inherit;

    &:hover {
            color: inherit;
            text-decoration: underline;
    }
}

em {
    font-style: italic
}

strong {
    @include font(bold);
}